* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sillaverde {
  width: 450px;
  border-radius: 10px;
}

.pCompromiso {
  margin: 40px;
}

.sImg {
  height: 500px;
  width: 410px;
  border-radius: 10px;
}

.sContainer {
  align-items: center;
}

#compromiso {
  background-color: #f2f2f2b2;
  padding-top: 5px;
  padding-bottom: 100px;
}

.cardBorderL {
  border-left: 1px solid #d63384;
}
