

/* STYLE GALERIA */

img {
    max-width: 100%;
  }
  .gallery {
    background-color: white;
    padding: 85px 0;
  }
  .gallery img {
    background-color: rgb(64, 102, 145);
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  #gallery-modal .modal-img {
    width: 100%;
  }
  
  /* FIN STYLE GALERIA */
  
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 410px;
    width: 550px;
  }
  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  .h-custom {
  height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
  }
  
  h2{
    font-weight: bold;
  }