@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

.nav-container-market {
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbar-market {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  background-color: white;
}
.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  color: #fff;
  margin-top: 3vh;
  cursor: pointer;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.navbar-market .nav-link {
  text-decoration: none;
  font-size: 23px;
}

.seeCarrito {
  margin-right: 20px;
  margin-top: 4vh;
  cursor: pointer;
  text-decoration: none;
}

.modalBtn-market {
  position: absolute;
  transform: translate(-170%, -170%);
  font-size: 20px;
  background-color: transparent;
  -webkit-transform: translate(-40%, -170%);
  -moz-transform: translate(-40%, -170%);
  -ms-transform: translate(-40%, -170%);
  -o-transform: translate(-40%, -170%);
}

#menu-marketplace {
  z-index: 3;
}
