.icon-bar {
  position: fixed;
  top: 80%;
  right: 1%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  font-size: 20px;
  color: black;
  margin: 5px;
  background-color: #fff;
}

.instagram:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  color: rgba(247, 34, 215, 0.755);
}
.whatsapp:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  color: #0bec70;
}

.email:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  color: #dd8f47;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
