@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#sillaverde {
  width: 450px;
  border-radius: 10px;
}

.pCompromiso {
  margin: 20px;
}

.sImg {
  height: 500px;
  width: 410px;
  border-radius: 10px;
}

.sContainer {
  align-items: center;
}

#compromiso {
  background-color: #f2f2f2b2;
  padding-top: 5px;
  padding-bottom: 100px;
}

.cardBorderL {
  border-left: 1px solid #d63384;
}

#compromiso h2 {
  font-weight: bold;
}
