.yourorders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    padding: 20px;
    position: relative;
    /* overflow: hidden; */
}


.yourOrdersTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}


.yourOrdersTable  thead tr {
    background-color: var(--col1);
    color: #fff;
    border: 1px solid #ddd;
    padding: .35em;
}
.yourOrdersTable tr {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: .35em;
}


.yourOrdersTable  th,
.yourOrdersTable  td {
    text-align: center;
}

.yourOrdersTable tr th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 10px 0px;
}


.yourOrdersTable tr td {
    padding: 5px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    color: grey;
}


.yourOrdersTable tr td button {
    padding: 5px 20px;
    margin: 0px;
    font-size: 16px;
}



.yourOrdersTable tr td div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.entregado{
    color:green
    
}

.anulado{
    color:red
}

.pendiente{
    color:#456884
}

.confirmado{
    color:#456884
}

.enviar{
    color:#456884
}

.despacho{
    color:#456884
}


@media screen and (max-width: 1200px) {
    
    .yourOrdersTable thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .yourOrdersTable tr {
        display: block;
        margin-bottom: .625em;
        border: none;
    }

    .yourOrdersTable tr td {
        border: none;
        border-radius: 0px;
        display: block;
        font-size: .8em;
        text-align: right;
        display: flex;
        justify-content: space-between;
    }

    .yourOrdersTable td::before{
        content:attr(data-label);
    }
}
